.dato{
	width: 400px;
	display: inline;
}

#formCertificado{
	margin-top: 20px;
}

#titulo, #parrafo{
	color:#ffffff;
	text-align: center;
}

html{
	height: 100%;
}

body {
	background-color: #ffffff; /* Used if the image is unavailable */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain; /* Resize the background image to cover the entire container */
	height: 100%;
  }
